<h1>Formulaires avec FormsModule</h1>
<p>Pour créer des formulaires simples et dynamiques, lier les données à des champs, valider les saisies et gérer l'envoi.</p>

<h2>1. Importer FormsModule dans appModule</h2>
<p>Angular ne peut pas utiliser [(ngModel)] sans ce module. Il active la gestion des formulaires template-driven.</p>
<p>Importer le module : FormsModule dans mon fichier .ts dans les [] au niveau de imports</p>

---------------------------------------------------------------------

<h2>2. Lier des champs avec [(ngModel)]</h2>
<p>Cela permet de lier une variable TypeScript à un champ HTML, dans les deux sens (saisie utilisateur ↔ variable).</p>

<input type="text" [(ngModel)]="prenom" name="prenom" />
<p>Bonjour {{ prenom }} !</p>

<h4>Tu vois en temps réel ce que l'utilisateur tape dans l'interface !</h4>

---------------------------------------------------------------------

<h2>3. Gérer l'envoi du formulaire avec (ngSubmit)</h2>
<p>C'est l'événement qui s'active quand l'utilisateur clique sur "Envoyer". Il permet d'exécuter une méthode.</p>

<form (ngSubmit)="onSubmit()">
    <input [(ngModel)]="prenom" name="prenom" />
    <button type="submit" >Envoyer</button>
</form>

<h4>Le name="..." est obligatoire pour que Angular suive le champ.</h4>

---------------------------------------------------------------------

<h2>4. Ajouter des validations de base</h2>
<p>Pour empêcher l'envoi si les données ne sont pas valides (ex : vide, trop court…).</p>

<input type="text" [(ngModel)]="prenom" name="prenom" required minlength="3" />

<h4> Angular reconnaît les validations HTML (required, minlength, pattern, etc.) et agit automatiquement.</h4>