<h1> Qu'est-ce qu'un pipe en Angular ?</h1>
<p>Un pipe (qu'on peut traduire par "tuyau") sert à transformer des données dans le HTML, sans changer les vraies valeurs dans ton fichier TypeScript (.ts).
Imagine que tu as une valeur brute (comme une date ou un texte en minuscule), et que tu veux simplement l'afficher différemment à l'écran (majuscule, format de date lisible, etc.).</p>
<strong>Plutôt que d'écrire une fonction à chaque fois, Angular fournit des pipes prêts à l'emploi.</strong>

<h2>Syntaxe de base : dans une double Accolade ( alt + parenthèse ouvrante ) : valeur | nomDuPipe</h2>






