<h1> Qu'est-ce qu'un pipe en Angular ?</h1>
<p>Un pipe (qu'on peut traduire par "tuyau") sert à transformer des données dans le HTML, sans changer les vraies valeurs dans ton fichier TypeScript (.ts).
Imagine que tu as une valeur brute (comme une date ou un texte en minuscule), et que tu veux simplement l'afficher différemment à l'écran (majuscule, format de date lisible, etc.).</p>
<strong>Plutôt que d'écrire une fonction à chaque fois, Angular fournit des pipes prêts à l'emploi.</strong>

<h2>Syntaxe de base : dans une double Accolade ( alt + parenthèse ouvrante ) : valeur | nomDuPipe</h2>

---------------------------------------------------------------------

<h2>1. Pipe intégrés à Angular</h2>
<h4> uppercase et lowercase : 	Met tout le texte en majuscule ou miniscule</h4>

<p> angular devient avec uppercase {{ nom | uppercase }}</p>
<p> ANGULAR devient avec lowercase {{ nom | lowercase }} </p>

---------------------------------------------------------------------

<h4>Date : 	Transforme une date technique en format lisible</h4>

<p>Quel est la date (date) : {{ aujourdhui | date }}</p>
<p>Quel est la date (shortDate) : {{ aujourdhui | date: 'shortDate' }}</p>
<p>Quel est la date (fullDate): {{ aujourdhui | date: 'fullDate' }}</p>

---------------------------------------------------------------------

<h4>Currency : Formate un nombre en prix ( avec symbole monétaire )</h4>

<p>Currency de base {{ prix | currency }}
<p>Currency afficher le symbole euro a la place du dollars {{ prix | currency: 'EUR' : 'symbol' }}</p>

---------------------------------------------------------------------

<h4>Json : Ce pipe convertit un objet en texte JSON lisible, avec les noms des propriétés</h4>

<p>json affiche : </p>
<pre>{{ user | json }}</pre>

---------------------------------------------------------------------

<h2>2. Enchaîner plusieurs pipes</h2>
<h4>Tu peux chaîner plusieurs pipes à la suite pour effectuer plusieurs transformations.</h4>

<p>uppercase + slice:0:2 transforme et coupe le texte. {{ prenom | uppercase | slice:0:2 }}</p>
<p>date:'yyyy' extrait l'année,puis number transforme en nombre {{ dateNaissance | date:'yyyy' | number }}</p>