.important {
    font-weight: bold;
    color: red;
}

.normal {
    color: black;
}

.active {
    border: 1px solid green;
}

.highlighted {
    background-color: yellow;
}

.warning {
    background-color: orange;
    color: white;
}

.good {
    color: green;
}

.bad {
    color: aquamarine;
}